<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery-1.11.1.min.js"></script>
<script>
var socket = io('http://localhost:<%= socket_io_port %>');
socket.on('download', function (report) {
	console.log(report);
	$("#report").append(report);
});

</script>
</head>
<body>
	<h3>Descargando... te avisaremos cuando termine, espera..</h3>
	<div id="report"></div>
</body>
</html>