<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery-1.11.1.min.js"></script>
<script>
var socket = io('http://localhost:<%= socket_io_port %>');
socket.on('download', function (report) {
	console.log(report);
	$("#report").append("<li>" + report.filename + ": se descargo el pedazo (chunk) " + report.part + "</li>");
});

</script>
</head>
<body>
	<h3>Descargando...</h3>
	<ul id="report"></ul>
</body>
</html>